.assistant {
  padding: .75rem;
  border-radius: var(--radius-md);
  background-color: #222;
}

.user {
  padding: .5rem;
  background-color: var(--primary);
  border-radius: var(--radius-md);
  margin-left: auto;

  min-height: max-content;
  max-width: 100%;
  transform-origin: bottom right;
}

.animate-in {
  animation: bounceIn 0.3s ease-in-out;
}

.sender {
  font-size: 1.25rem;
  font-weight: bold;
}

.assistant .sender {
  padding-bottom: 1rem;
}

ul li {
  padding-bottom: .25rem;
}

.user .message-content {
  display: flex;
  flex-direction: column;
}
.message-content {
  white-space: normal;
  max-width: 100%;
  font-size: 1rem;
  margin: 0;
  word-break: break-word;
}
.message-content > * {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.message-content > *:first-child {
  margin-top: 0;
}
.message-content > *:last-child {
  margin-bottom: 0;
}

code {
  background: #151515;
  padding: 0 .25rem;
  border-radius: var(--radius-sm);
}

pre:has(> code) {
  position: relative;
  background: #151515;
  border: 1px solid #333;
  border-radius: var(--radius-md);
  padding: 10px;
  color: #e0e0e0;
  font-size: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre > code {
  font-style: normal;
}

.copy-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: .5rem;
  gap: .2rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  color: gray;
  cursor: pointer;
}
.copy-btn svg {
  width: 1rem;
  height: 1rem;
}
pre:has(> code):hover .copy-btn {
  display: flex;
}

.user pre code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.user img, .assistant img {
  max-width: 80%;
  border-radius: 6px;
  margin: 5px 0;
}

.error-message {
  position: relative;
  padding: 1rem;
  border-radius: var(--radius-md);
}

.error-indicator {
  position: absolute;
  top: 0;
  right: 0;
  margin: .5rem;
}
.error-indicator svg {
  width: 1.25rem;
  height: 1.25rem;
  stroke: #ef4444;
  fill: #ef444435;
}

@keyframes bounceIn {
  0% {
    transform: translateY(100%) scale(0.9);
    opacity: 0;
  }
  50% {
    transform: translateY(-5%) scale(1.05);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
}

#chat img {
  cursor: pointer;
}

.close-popup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  aspect-ratio: 1;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: var(--radius-md);
  transition: background-color 0.1s;
}
.close-popup-btn svg {
  width: 1.25rem;
  height: 1.25rem;
}
.close-popup-btn:hover {
  background-color: #222;
}

.image-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.image-popup img {
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 8px;
}