<!DOCTYPE html>
<html>
<head>
    <title>Ollama Web Chat</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script defer src="{{ url_for('static', filename='html.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Ollama Web Chat</h1>
    <div id="chat-container">
        <div id="chat-list">
            <h1>Chats</h1>
            <div id="chat-list-items"></div>
            <div id="vram-usage">VRAM Usage: Loading...</div>
            <button id="new-chat-btn" onclick="startNewChat()">Start New Chat</button>
            <button id="shutdown-btn" onclick="systemShutdown()">Shutdown System</button>
        </div>
        <div id="chat-window">
            <div id="chat"></div>
            <div id="input-area">
                <select id="model"></select>
                <div id="text-input-wrapper">
                    <textarea id="prompt" placeholder="Type your question here..." wrap="off"></textarea>
                    <div id="image-upload-wrapper">
                        <label for="image-upload" id="image-upload-button">
                            <span id="image-upload-text">Image</span>
                            <img id="image-preview" src="#" alt="Image Preview" style="display: none;">
                            <input type="file" id="image-upload" accept="image/*">
                        </label>
                        <div id="file-indicator">
                            <button id="clear-image-btn">x</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>