:root {
  --primary: #6610f2;
  --text: #e0e0e0;

  --radius: .75rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 8px);
}

* {
  text-rendering: optimizeLegibility;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
  background-color: #151515;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
	margin: 0;
	font-weight: 400;
}

hr {
  opacity: .2;
  margin: 1rem 0 !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 1rem;
}

.button {
	display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  border-radius: var(--radius-md);
  cursor: pointer;
	border: none;
  background-color: #222;
  color: var(--text);
  padding: .5rem;
  transition: background-color 0.2s ease-in-out;
}
.button:hover {
  background-color: #333;
}
.button svg {
  width: 1rem;
  height: 1rem;
}